<form action="/upload" method="post">
    <h1>título</h1>
    <input type="text" name="title" id="title">
    <h1>conteúdo</h1>
     <textarea name="content" id="" cols="30" rows="10"> </textarea>
     <h1>observações</h1>
    <input type="text" name="notes" id="notes">
    <input type="submit" value="Enviar">
</form>
