
<div class="w-full p-7">
<form action="/PostSave/{{data.id}}"  class="bg-white sm:w-full md:w-full lg:w-3/4 xl:w-3/4 2xl:w-3/4  m-auto flex justify-around flex-col text-left p-4" method="post">
    <h1  class="p-2 text-lg"><i class="fa-solid fa-paperclip"></i> Title</h1>
    <input type="text" class="p-2  text-gray-500 border-solid border-2 border-neutral-600 rounded-md  focus:outline-none"  name="title" id="title" value="{{data.title}}">
    <h1 class="p-2 text-lg"><i class="fa-solid fa-book"></i> Content</h1>
     <textarea class="p-3  text-gray-500 resize-none border-solid border-2 border-neutral-600 rounded-md  focus:outline-none" name="content" id="" cols="30" rows="10"> {{data.content}} </textarea>
     <h1 class="p-2 text-lg"><i class="fa-regular fa-note-sticky"></i> Notes</h1>
    <input type="text" name="notes" class="p-2 border-solid border-2 border-neutral-600 rounded-md   text-gray-500 focus:outline-none mb-5" value="{{data.notes}}" id="notes">
    <input class="p-2  text-white bg-red-700 w-20 m-auto rounded-md text-base" type="submit" value="Enviar">
</form>
</div>
